* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 10px;
}
/* ----------------- HEADER -> PADRÂO EM TODOS --------------------*/

header{background-color: rgb(200 16 46);
display: flex;
justify-content: space-around;
align-items: center;
height: 15em;}

header h1 {
    text-transform: uppercase;
    font-size: 3em;
    color:white;
    font-weight: bold;
}

header img {
    width: 18em;
    border:2px solid black
}

/* ------- FIM HEADER ---------*/